body{
    font-size: large;
    font-family: monospace;
    background-color:gainsboro;
    display: flex;
    flex-direction: row;
}
.about{
    margin-left: 5%;
    height: 100%;
}
.skills{
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-top: 30%;
}
a{
    text-decoration: none;
}
.projects{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-left: 5%;
    height: 100%;
}
.professional_experience{
    margin-left: 5%;
    height: 100%;
}
.header{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
}
.navigation{
    width: 20%;
    /* position:fixed */
    /* background-color: aquamarine; */
}
